<div class="dealList-2">
   {{#if imageAsBackground}}
      <div class="deals-grid">
         {{#each promotions as |promotion|}}
            {{> dealItem }}
         {{/each}}
      </div>
   {{else}}
      {{#each promotions as |promotion index|}}
         {{#if (eq alignment "both")}}
            {{#if (modBool index 2)}}
               <div class="deal-item listItem-deal" data-categories="{{ categories }}" data-hotelId="{{hotelId}}">
                  {{> dealItem }}
               </div>
            {{else}}
               {{> dealItem }}
            {{/if}}
         {{else if (eq alignment "right")}}
            <div class="deal-item listItem-deal" data-categories="{{ categories }}" data-hotelId="{{hotelId}}">
               {{> dealItem }}
            </div>
         {{else}}
            {{> dealItem }}
         {{/if}}
      {{/each}}
   {{/if}}
</div>

